{{- if .Values.singleCluster.enabled }}
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ include "jwt-decode-auth.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "jwt-decode-auth.labels" . | nindent 4 }}
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: PathPrefix(`/api/kubernetes`)
      priority: 100
      middlewares:
        - name: api-gateway-system-kubernetes-stripprefix@kubernetescrd
      services:
        - kind: Service
          name: kubernetes
          namespace: default
          port: https
          scheme: https
          serversTransport: api-gateway-system-kubernetes@kubernetescrd
    - kind: Rule
      match: PathPrefix(`/api/prometheus-tenancy/api`)
      priority: 100
      middlewares:
        - name: api-gateway-system-jwt-decode-auth@kubernetescrd
        - name: api-gateway-system-monitoring-stripprefix-tenancy@kubernetescrd
      services:
        - kind: Service
          name: prometheus-k8s
          namespace: monitoring
          port: web
          scheme: http
    - kind: Rule
      match: PathPrefix(`/api/prometheus/api`)
      priority: 100
      middlewares:
        - name: api-gateway-system-jwt-decode-auth@kubernetescrd
        - name: api-gateway-system-monitoring-stripprefix@kubernetescrd
      services:
        - kind: Service
          name: prometheus-k8s
          namespace: monitoring
          port: web
          scheme: http
    - kind: Rule
      match: PathPrefix(`/api/alertmanager/api`)
      priority: 100
      middlewares:
        - name: api-gateway-system-jwt-decode-auth@kubernetescrd
        - name: api-gateway-system-monitoring-stripprefix@kubernetescrd
      services:
        - kind: Service
          name: alertmanager-main
          namespace: monitoring
          port: web
          scheme: http
  tls: {} # use default tls
{{- end }}