{{- if .Values.argorolloutIngress.enableTraefik }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argo-rollouts-dashboard
  namespace: argo-rollouts
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    cert-manager.io/cluster-issuer: custom_clusterissuer
  labels:
    ingress.tmaxcloud.org/name: argo-rollouts
spec:
  ingressClassName: tmax-cloud
  {{- if .Values.argorolloutIngress.tls.enabled }}
  tls:
  - hosts:
      - {{ .Values.argorolloutIngress.hosts.subdomain }}.{{ .Values.argorolloutIngress.hosts.domain }}
    {{- if .Values.argorolloutIngress.tls.secretName }}
    secretName: {{ .Values.argorolloutIngress.tls.secretName}}
    {{- end }}
  {{- end }} 
  rules:
  - host: {{ .Values.argorolloutIngress.hosts.subdomain }}.{{ .Values.argorolloutIngress.hosts.domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argo-rollouts-dashboard
            port:
              name: https-rollouts
{{- else }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argo-rollouts-dashboard
  namespace: argo-rollouts
  annotations:
    kubernetes.io/ingress.class: "nginx-system"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
spec:
  {{- if .Values.argorolloutIngress.tls.enabled }}
  tls:
  - hosts:
      - {{ .Values.argorolloutIngress.hosts.subdomain }}.{{ .Values.argorolloutIngress.hosts.domain }}
    {{- if .Values.argorolloutIngress.tls.secretName }}
    secretName: {{ .Values.argorolloutIngress.tls.secretName}}
    {{- end }}
  {{- end }}
  rules:
  - host: {{ .Values.argorolloutIngress.hosts.subdomain }}.{{ .Values.argorolloutIngress.hosts.domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argo-rollouts-dashboard
            port:
              name: https-rollouts  
{{- end }}
