replicas: 1

global:
  registry:
    is_offline: false
    private_registry:
  time_zone: Asia/Seoul


image: #repo, noti, contoller = argoserver
  redis:
    repository: docker.io/library/redis
    tag: 7.0.7-alpine
  argocdServer:
    repository: quay.io/argoproj/argocd
    tag: v2.5.7
  dex:
    repository:  ghcr.io/dexidp/dex
    tag: v2.35.3

appsetController:
  relicas: 1
  loglevel: "info" # debug, info, warn, error
redis:
  replicas: 1
  loglevel: "notice" # warning, notice, verbose, debug
argocdServer:
  replicas: 1
  loglevel: "info" # debug, info, warn, error
dex:
  replicas: 1
  loglevel: "info" # debug, info, warn, error
repoServer:
  replicas: 1
  loglevel: "info" # debug, info, warn, error
notification:
  replicaes: 1
  loglevel: "info" # defug, info, warn, error
controller:
  replicas: 1
  loglevel: "info" # debug, info, warn, error

argoIngress:
  hosts:
    domain: test123.com
    subdomain: argocd
  tls:
    enabled: true
    secretName:
  enableTraefik: false
