{{ if .Values.modules.hyperCloud.enabled }}
{{ $isMaster := eq .Values.global.cluster "master" }}
{{ $prefix := printf "%s-%s" .Values.global.clusterNamespace .Values.global.clusterName }}
{{ $module := "hypercloud" }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    cluster: {{ ternary "master" $prefix $isMaster }}
  name: {{ ternary $module (printf "%s-%s" $prefix $module) $isMaster }}
  namespace: argocd
spec:
  destination:
    name: {{ .Values.global.clusterName }}
    namespace: hypercloud5-system
  project: {{ .Values.spec.project }}
  source:
    directory:
      jsonnet:
        tlas:
          - name: is_offline
            value: "{{ .Values.global.network.disabled }}"
          - name: private_registry
            value: {{ .Values.global.privateRegistry }}
          - name: hypercloud_hpcd_mode
            value: {{ .Values.modules.hyperCloud.mode }}
          - name: hypercloud_kafka_enabled
            value: "{{ .Values.modules.hyperCloud.kafka.enabled }}"
          - name: hyperauth_url
            value: {{ printf "%s.%s" .Values.modules.hyperAuth.subdomain .Values.global.domain }}
          - name: hyperauth_client_secret
            value: {{ .Values.modules.hyperAuth.tmaxClientSecret }}
          - name: console_subdomain
            value: {{ .Values.modules.gatewayBootstrap.console.subdomain }}
          - name: hyperauth_subdomain
            value: {{ .Values.modules.hyperAuth.subdomain }}
          - name: hyperregistry_enabled
            value: "{{ .Values.modules.hyperregistry.enabled }}"
          - name: storageClass
            value: {{ .Values.modules.hyperCloud.storageClass }}
          - name: aws_enabled
            value: "{{ .Values.modules.capi.providers.aws.enabled }}"
          - name: vsphere_enabled
            value: "{{ .Values.modules.capi.providers.vsphere.enabled }}"
          - name: time_zone
            value: {{ .Values.global.timeZone }}
    path: manifest/hypercloud
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
{{ end }}