{{ $isMaster := eq .Values.global.cluster "master" }}
{{ if (and .Values.modules.hyperregistry.enabled (not $isMaster)) }}
{{ $prefix := printf "%s-%s" .Values.global.clusterNamespace .Values.global.clusterName }}
{{ $module := "hyperregistry" }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    cluster: {{ ternary "master" $prefix $isMaster }}
  name: {{ ternary $module (printf "%s-%s" $prefix $module) $isMaster }}
  namespace: argocd
spec:
  destination:
    name: {{ .Values.global.clusterName }}
    namespace: hyperregistry
  project: {{ .Values.spec.project }}
  source:
    helm:
      parameters:
        - name: is_offline
          value: "{{ .Values.global.network.disabled }}"
        - name: private_registry
          value: {{ .Values.global.privateRegistry }}
        - name: expose.ingress.hosts.domain
          value: {{ .Values.global.domain }}
        - name: expose.ingress.hosts.core
          value: {{ .Values.modules.hyperregistry.core.subdomain }}
        - name: expose.ingress.hosts.notary
          value: {{ .Values.modules.hyperregistry.notary.subdomain }}
        - name: storageClass
          value: {{ .Values.modules.hyperregistry.storageClass }}
    path: manifest/hyperregistry
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
{{ end }}