{{ if .Values.modules.istio.enabled }}
{{ $isMaster := eq .Values.global.cluster "master" }}
{{ $prefix := printf "%s-%s" .Values.global.clusterNamespace .Values.global.clusterName }}
{{ $module := "istio" }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    cluster: {{ ternary "master" $prefix $isMaster }}
  name: {{ ternary $module (printf "%s-%s" $prefix $module) $isMaster }}
  namespace: argocd
spec:
  destination:
    name: {{ .Values.global.clusterName }}
    namespace: istio-system
  project: {{ .Values.spec.project }}
  source:
    helm:
      valueFiles:
        - values.yaml
      parameters:
        - name: modules.istio_namespace.enabled
          value: "{{ .Values.modules.istio.enabled }}"
        - name: modules.istio_namespace.autoSync
          value: "{{ .Values.modules.istio.autoSync }}"
        - name: modules.istio_base.enabled
          value: "{{ .Values.modules.istio.enabled }}"
        - name: modules.istio_base.autoSync
          value: "{{ .Values.modules.istio.autoSync }}"
        - name: modules.istio_istiod.enabled
          value: "{{ .Values.modules.istio.enabled }}"
        - name: modules.istio_istiod.logLevel
          value: {{ .Values.modules.istio.logLevel }}
        - name: modules.istio_istiod.autoSync
          value: "{{ .Values.modules.istio.autoSync }}"
        - name: modules.istio_gateway.enabled
          value: "{{ .Values.modules.istio.enabled }}"
        - name: modules.istio_gateway.autoSync
          value: "{{ .Values.modules.istio.autoSync }}"
        - name: global.cluster
          value: {{ .Values.global.cluster }}
        - name: global.clusterName
          value: {{ .Values.global.clusterName }}
        - name: global.clusterNamespace
          value: {{ .Values.global.clusterNamespace }}
        - name: global.privateRegistry
          value: {{ .Values.global.privateRegistry }}
        - name: global.network.disabled
          value: "{{ .Values.global.network.disabled }}"
    path: manifest/istio-bootstrap
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
{{ end }}
