{{ if .Values.modules.opensearch.enabled }}
{{ $isMaster := eq .Values.global.cluster "master" }}
{{ $prefix := printf "%s-%s" .Values.global.clusterNamespace .Values.global.clusterName }}
{{ $module := "opensearch" }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    cluster: {{ ternary "master" $prefix $isMaster }}
  name: {{ ternary $module (printf "%s-%s" $prefix $module) $isMaster }}
  namespace: argocd
spec:
  destination:
    name: {{ .Values.global.clusterName }}
    namespace: kube-logging
  project: {{ .Values.spec.project }}
  source:
    directory:
      jsonnet:
        tlas:
          - name: timezone
            value: {{ .Values.global.timeZone }}
          - name: is_offline
            value: "{{ .Values.global.network.disabled }}"
          - name: private_registry
            value: {{ .Values.global.privateRegistry }}
          - name: log_level
            value: {{ .Values.modules.opensearch.logLevel }}
          - name: os_image_tag
            value: {{ .Values.modules.opensearch.os.version }}
          - name: busybox_image_tag
            value: {{ .Values.modules.opensearch.busyBox.version }}
          - name: os_resource_limit_memory
            value: {{ .Values.modules.opensearch.os.limitMemory }}
          - name: os_resource_request_memory
            value: {{ .Values.modules.opensearch.os.requestMemory }}
          - name: os_jvm_heap
            value: {{ .Values.modules.opensearch.os.jvmHeap }}
          - name: os_volume_size
            value: {{ .Values.modules.opensearch.os.volumeSize }}
          - name: dashboard_image_tag
            value: {{ .Values.modules.opensearch.dashboard.version }}
          - name: dashboard_svc_type
            value: {{ .Values.modules.opensearch.dashboard.svcType }}
          - name: tmax_client_secret
            value: {{ include "hyperAuth.tmaxClientSecret" . }}
          - name: hyperauth_url
            value: {{ include "hyperAuth.domain" . }}
          - name: custom_domain_name
            value: {{ .Values.global.domain }}
          - name: fluentd_image_tag
            value: {{ .Values.modules.opensearch.fluentd.version }}
          - name: is_master_cluster
            value: "{{ $isMaster }}"
          - name: opensearch_subdomain
            value: {{ .Values.modules.opensearch.dashboard.subdomain }}
          - name: opensearch_client_id
            value: {{ ternary $module (printf "%s-%s" $prefix $module) $isMaster }}
          - name: storageClass
            value: {{ .Values.modules.opensearch.fluentd.storageClass }}
    path: manifest/opensearch
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
{{- end }}
