# Default values for gateway.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

tags:
  traefik: true

traefik:
  fullnameOverride: "gateway"
  additionalArguments:
    # Only use dev environment
    - "--serverstransport.insecureskipverify=true"
    - "--serverstransport.rootcas=/run/secrets/tmaxcloud/ca.crt, /run/secrets/kubernetes.io/serviceaccount/ca.crt"
    - "--entrypoints.websecure.http.middlewares=cors-header@file"
  deployment:
    podLabels:
      app: traefik
    imagePullSecrets: []
#    imagePullSecrets:
#      - name: regcred
  volumes:
    - name: gateway-config
      mountPath: "/gateway-config"
      type: configMap
    - name: selfsigned-ca
      mountPath: "/run/secrets/tmaxcloud"
      type: secret
  ingressClass:
    enabled: true
    isDefaultClass: true
    fallbackApiVersion: "v1"
  service:
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: nlb
      service.beta.kubernetes.io/aws-load-balancer-internal: "true"
  resources: {}
  nodeSelector:
    node-role.kubernetes.io/master: ""
  tolerations:
    - key: "node-role.kubernetes.io/master"
      operator: Exists
  env: []
#  env:
#    - name: TZ
#      value: Asia/Seoul
  additionalVolumeMounts: []
  #  - name: gateway-confi
  # For instance when using a logshipper for access logs
  # - name: traefik-logs
  #   mountPath: /var/log/traefik
  additionalVolumes: []

tls:
  domain: tmaxcloud.test
  consoleSubdomain: console
  acme:
    enabled: false
    email: email
    dns:
      type: route53
      accessKeyID: accesskey
      accessKeySecret: secretkey
      hostedZoneID: Z07854445SLZAKEQ0V9P
    environment: staging
#    domain: tmaxcloud.test
  selfsigned:
    enabled: true
#    domain: tmaxcloud.test
